@media screen and (max-width: 900px) {
    nav {
      display: none;
    }
    .fa-bars {
      display: block !important;
    }
  }

  /* @media screen and (max-width: 1375px) {
    .nav {
        justify-content: space-around;
      }
  } */

  @media screen and (max-width: 900px) {
    .nav {
      flex-direction: column;
    }
  }
  
  