header{
    height: 70px;
    border: 1px solid black;
    padding: 15px 0;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgb(97, 23, 23);
}
.container{
    width: 100%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

.fa-bars {
    display: none !important;
    font-size: 25px;
    color: white;
  }
  nav{
    width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 25px;
    margin-left: 100px;
  }
  .main{
    font-size: 27px;
    color: rgb(243, 134, 134);
  }
  nav p:hover {
    color: rgb(245, 51, 51);
    cursor: pointer;
  }
  .texti{
    height: 59px;
    width: 300px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: block;
    margin-right: 30px;
    margin-top: 6px;
}
body{
    background-color: black;
}

  .watch{
    background-image: url(../images/img2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 610px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
}  

.container1{
    width: 150px;
    height: 150px;
    background: rgb(97, 23, 23);
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
div .container1:hover{
  cursor: pointer;
}
.fa-play{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
}

.roles{
  display: flex;
  justify-content: space-around;
}

h2{
  color: white;
}
p{
  color: white;
}
.texxt{
  display: flex;
}

footer{
    width: 100%;
    background-color: black;
    padding: 40px;
    margin-top: 5px;
    
}
.nav{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
}
  